body {
    background: url(./assets/images/bg.jpg);
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    background-color: #523629 !important;
    outline-color: #523629 !important;
    border-color: #523629 !important;
    color: #fff !important;
}

.btn-outline-primary {
    background-color: #fff !important;
    outline-color: #523629 !important;
    border-color: #523629 !important;
    color: #523629 !important;
}

.text-primary,
.nav-link {
    color: #523629 !important
}
.auth-canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/images/auth.jpg);
}
.auth-form{
    width: 90%;
    max-width: 600px;
    padding: 1rem;
    border-radius: 12px;
    background-color: #ffffff40;
    backdrop-filter: blur(6px);
    box-shadow: 2px 4px 24px 3px #22222222;
}
.product-card {
    width: 128px;
    max-width: 128px;
    min-width: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 12px 0 0 12px;
    overflow: hidden;
    padding: 0;
    padding-bottom: 5px;
}
.product-card img {
    max-width: 128px;
    max-height: 128px;
    object-fit: scale-down;
    margin: auto;
}
.product-card p {
    margin-bottom: 0;
}
